@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


*, *:before, *:after {
    box-sizing: border-box;
  }

  *{
    font-family: 'Open Sans', sans-serif;
  }

  
  html {
    overflow-y: scroll;
  }
  
  body {
    background: #ffffff;
    font-family: 'Titillium Web', sans-serif;
  }

  article{
    margin-top: -350px;
    text-align: center;
    color: white;
  }


  nav > #play{
    width: 110px;
    text-align: center;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: white;
}
  
  nav > img {
    background-color: white;
  }

#player-wick-a{
    color: black;
    margin: auto;
    
}

  .wick-background{
  background-image: url(./imagens/John-Wick-Chapter-4-Laptop-Wallpaper.jpg);
  background-size:cover;
  background-position: center center;
  color: white;
  object-fit: contain;
  height: 100%;
  }
  

  nav > a{
    color: white;
    text-decoration: none;
  }
  
  .nav__logo {
    width: 250px;
    object-fit: contain;
   
    
  }
  /* avatar do usuário */
  .nav__avatar {
    width: 70px;
    object-fit: contain;
  }
  .nav {
   position: fixed;
   top: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 20px;
   z-index: 1;
   transition-timing-function: ease-in;
   transition: all 0.5s; 
   
}


  .banner__button:hover {
    color:white;
    background-color: #179b77;
    transition: all 0.2s;
  }
  .banner-mylist {
    margin-top: 200px;
    height: 5rem;
  
  }
.row__poster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
    
    }
    .row__posters {
    
      display: flex;
      overflow-y: hidden;
      overflow-x: scroll;
      padding: 20px;
    }
    .row__poster:hover {
      transform: scale(1.08);
    }
    .row__posterLarge {
      max-height: 350px;
    
    }
    .row__posterLarge:hover {
      transform: scale (2.09)
    
    }
    
    /*configura barra de rolagem*/
    .row__posters::-webkit-scrollbar {
      display: none;
    }
    
    /*nav black*/
    .nav__black {
      padding: 0px;
      background-color: #F6F6F6;
    }
    